body {
  background-color: #d3d3d3;
}
#preamble p {
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  background-color: white;
}
#evens,
#odds {
  margin-top: 25px;
  background-color: tomato;
  border: 1px solid black;
  height: 1300px;
  width: 350px;
  padding: 25px;
}
#evens div {
  margin-bottom: 10px;
}
#odds div {
  margin-bottom: 10px;
}
.evenword {
  border: 2px dotted darkblue;
  font-size: 30px;
  background-color: white;
}
.evennumber {
  border: 2px solid white;
  font-size: 30px;
  background-color: blue;
  color: white;
}
.oddword {
  border: 2px dotted white;
  font-size: 30px;
  background-color: white;
}
.oddnumber {
  border: 2px solid red;
  font-size: 30px;
  background-color: blue;
  color: white;
}
